
/* HEADER*/ 

header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
}
.nav-header {
  width: 45%;
  display: flex;
  align-items: center;
}
.nav-header ul {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  list-style: none;
}
.nav-header ul li a {
  font-family: 'Poppins';
  color: black;
  font-size: 20px;
  text-decoration: none;
  transition: 200ms;
}
.nav-header ul li a:hover {
  color:  #803655;
  font-size: 22px;
}

.logo-header h3{
 color: #803655;
font-family: 'Rouge Script';
font-size: 40px;
margin-left: 10px;
margin-top: 5%;

}


.logo-header a img:hover {
  width: 110%;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
}
.login-btn {
  padding: 0.5em 2em;
  border-radius: 30px;
  border: 0;
  font-family: 'Poppins';
  color: white;
  font-size: 20px;
  font-weight: normal;
  background-color:  #803655;
  transition: 200ms;
}
.login-btn:hover {
  padding: 0.6em 2.2em;
}

/* QUIZ*/




.quiz{
    display: flex;
   background-image: url(../assets/imgs/fundo.jpg);
    width: 100%;
    height: 100vh;
    justify-content: center;
     background-size: cover;
     margin-top: 0%;
     flex-direction: column;
     align-items: end;
     margin-right: 100px;


}

.botaoinicio{
    font-family: monospace;
    font-weight: bold;
     width: 50%;
    height: 50vh;
    margin: 10%;
    background-color: #80365536;

}

.pontuacaoinicial {
   display: flex;
    width: 100%;
    height: 20vh;
    margin-top: 0%;
      justify-content: space-evenly;
     flex-direction: row;
     border: 4px solid white;
    background-color: #8036558a;
    text-align: center;
    
    
}

.pontuacaoinicial .acertos{
   display: flex;
    width: 20%;
    height: 20vh;
    margin-top: 2%;
    margin-left: 5%;
      justify-content: space-evenly;
 
     border: 4px solid pink;
    background-color: white;
    text-align: center;
    
    
}

.pontuacaoinicial .erros{
   display: flex;
    width: 20%;
    height: 20vh;
    margin-top: 2%;
    margin-left: 5%;
      justify-content: space-evenly;
   
     border: 4px solid pink;
    background-color: white;
    text-align: center;
    
    
}

.pontuacaofinal{
   display: flex;
    width: 20%;
    height: 20vh;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 2%;
      justify-content: space-evenly;
     flex-direction: row;
     border: 4px solid pink;
    background-color: white;
    text-align: end;
    
    
}
.questoes{
    display: flex;
    width: 50%;
    height: 50vh;
    margin: 10%;
      justify-content: center;
     flex-direction: column;
     border: 4px solid white;
    background-color: #8036558a;
    text-align: center;
    align-items: center;


}
